$sidebard-width: 11em;
$top-bar-height: 2.6em;
$navigator-menu-z-index: 100;
$common-padding: 1em;

body {
  color: green;
  font-family: cursive;
}

.top-bar {
  position: fixed;
  width: 100%;
  height: $top-bar-height;
  z-index: $navigator-menu-z-index;
}

.slide-bar {
  width: $sidebard-width;
  height: calc(100vh);
  background-color: #e6e6e6;
  position: fixed;
  top: $top-bar-height;
  z-index: $navigator-menu-z-index;

  ul {
    li {
      list-style: none;
    }
  }
}

#wrapper {
  position: absolute;
  left: $sidebard-width;
  top: $top-bar-height;
  width: calc(100vw - #{$sidebard-width});
}

.mod-header {
  text-align: center;
}

.buttons {
  text-align: center;
}

/**************Login page******************/
#login {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 1em;
}

/*************End Login Page*****************************/

/*********************dashboard*******************/
.dashboard {
  nav {
    margin-top: 2em;

    ul {
      li {
        list-style: none;
        display: inline;
        padding: 1em .5em;
        font-size: 2em;

        a {
          color: #649407;

          &:hover {
            color: #1f689c;
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
}

.panel {
  background-color: #f2f2f2;

  header {
    font-size: 1.4em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1.5em;
  }

  .mod-body {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 2em;
  }
}
/**********************end dashboard****************/
