$sidebard-width: 11em;
$top-bar-height: 2.6em;
$navigator-menu-z-index: 100;

body {
  color: green;
}

.top-bar {
  position: fixed;
  width: 100%;
  height: $top-bar-height;
  z-index: $navigator-menu-z-index;
}

.slide-bar {
  width: $sidebard-width;
  height: calc(100vh);
  background-color: #e6e6e6;
  position: fixed;
  top: $top-bar-height;
  z-index: $navigator-menu-z-index;

  ul {
    li {
      list-style: none;
    }
  }
}

#wrapper {
  position: absolute;
  left: $sidebard-width;
  top: $top-bar-height;
  width: calc(100vw - #{$sidebard-width});
}

.mod-header {
  text-align: center;
}

.buttons {
  text-align: center;
}

/**************Login page******************/
#login {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

/*************End Login Page*****************************/

/*********************dashboard*******************/
.dashboard {
  nav {
    margin-top: .8em;

    ul {
      li {
        list-style: none;
        display: inline;
        padding: 1.5em;
        font-family: cursive;
        font-size: 1.2em;
      }
    }
  }
}
/**********************end dashboard****************/
